<p-dialog [(visible)]="visibleModal"
          [modal]="true"
          [draggable]="false"
          [resizable]="false"
          [header]="header"
          [style]="{'height':'400px','width':'416px'}"
          (close)="closeModal()">
  <form [formGroup]="authForm" (ngSubmit)="auth()">
    <input *ngIf="!isLogin" formControlName="name" placeholder="Введите имя">
    <div *ngIf="submitted && authForm.get('name')?.errors?.['required']">
      <small>Имя обязательно.</small>
    </div>

    <input formControlName="login" placeholder="Введите логин">
    <div *ngIf="submitted && authForm.get('login')?.errors?.['required']">
      <small>Логин обязателен.</small>
    </div>

    <input formControlName="password" placeholder="Введите пароль" type="password">
    <div *ngIf="submitted && authForm.get('password')?.errors?.['required']">
      <small>Пароль обязателен.</small>
    </div>

    <button (click)="setRegistration()" *ngIf="isLogin">Зарегистрироваться</button>
    <button (click)="setLogin()" *ngIf="!isLogin">Войти</button>

    <div class="submit__container">
      <button type="submit" class="button_submit">Войти</button>
    </div>
  </form>
</p-dialog>
